.authContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}


.riderLogo {
    width: 65px;
    height: 55px;
}


.guessTxt {
    color: white;
    font-size: 15px;
}

.btnTextContainer {
    margin-left: 3px;
}

.buttonGroup {
    display: flex;
    gap: 5px;
}